body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-main{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


.fontOsawld{
  font-family: 'Oswald', sans-serif;
}

.fontOdibee{
  font-family: 'Odibee Sans', cursive;
}

.fontVersion{
  font-family: "Times New Roman", Times, serif;
}

.footer{
  text-align: center;
}

.github:hover{
  color:grey
}

.twitter:hover{
  color: #00acee;
}
.instagram:hover{
  color: tomato;
}
.website:hover{
  color: greenyellow;
}
.email:hover{
  color: yellow;
}
.blog:hover{
  color: red;
}

.footer a{
  color: white;
}

.footer h3{
  color: white;
}

.footer h3 a{
  color: tomato;
}